<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://upload.wikimedia.org/wikipedia/commons/3/3f/Fronalpstock_big.jpg</string>
	<string>https://bipbap.ru/wp-content/uploads/2017/10/0_a9e8c_fefaa1d2_XL.jpg</string>
	<string>https://bipbap.ru/wp-content/uploads/2017/10/0_8eb56_842bba74_XL.jpg</string>
</array>
</plist>
